.game-icon {
    max-width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.game-icon:hover {
    transform: scale(1.1);
}

@media (max-width: 576px) {
    .game-icon {
        max-width: 100px;
    }
} 